
h1 {
  text-align: center;
}
figure {
  border: gray thin solid;
  margin: 5;
  padding: 5px;
  width: 8em;
  height: inherit;
  border-radius: 20%;
  float: left;
  background-color: rgb(219, 230, 230);
}
hr {
  clear: left;
}

figcaption {
  text-align: center;
}

h2 {
  clear: left;
  text-align: center;
}
